body {

    font-family: 'Press Start 2P';font-size: 22px;
    font-size:28px;
    background-color: rgba(81, 99, 218, 0.886);
    color: white;
    /*background-image:url("/gamebg.jpg") ; */
     /* background-color: rgb(108, 184, 159); */
}